.header {
  width: 100%;
  &__top {
    height: 50px;
    background-color: #2b3a67;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
  }
  &__bottom {
    background-color: #66999b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 20px;
  }
  &__logo {
    position: absolute;
    left: 64px;
    top: 15px;
  }
}
