.title-dealer {
  font-family: 'Ruda';
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}
.linkLobby-title {
  margin-top: 15px;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
